{% extends 'base.html' %}

{% block content %}

<br>
<!--{{ api }}-->

{% if api %}
    {% if api == "Error..." %}
        <p>There was an error, please try again ....</p>
    {% else %}
        <div class="jumbotron container {{ category_color }}">
            <h1 class="display-4">{{ api.0.ReportingArea }} - {{ api.0.AQI }} ({{ api.0.Category.Name }})</h1>
            <p class="lead">Current {{ api.0.ReportingArea }} air quality is {{ api.0.AQI }}.</p>
            <hr class="my-4">
            <p>Latitude : {{ api.0.Latitude }} | Longitude : {{ api.0.Longitude }}</p>
            <hr class="my-4">
            <p>{{ category_description }}</p>
        </div>
    {% endif %}
{% endif %}

{% endblock %}